@font-face {
	font-family: Geometria;
	src: url(../fonts/Geometria.ttf);
}
* {
	box-sizing: border-box;
}
html, body {
	overflow-x: hidden;
}
/*html:before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	background-color: rgba(0,0,0,.45);
}*/
body {
	font-family: Geometria, sans-serif;
	height: 100vh;
	padding: 50px 50px 0;
	background-size: cover;
	background-position: 50% 50%;
	background-repeat: no-repeat;
}
body.apart-index {
	background-image: url('../img/main-fon.jpg');
}
body.apart-d46 {
	background-image: url('../img/D-46/d46-fon.jpg');
}
body.apart-f41 {
	background-image: url('../img/F-41/f41-fon.jpg');
}
body.apart-f51 {
	background-image: url('../img/F-51/f51-fon.jpg');
}
body.apart-f71 {
	background-image: url('../img/F-71/f71-fon.jpg');
}
body.apart-about {
	background-image: url('../img/about-fon.jpg');
}
body.apart-contacts {
	background-image: url('../img/main-fon.jpg');
}
header {
	display: flex;
	align-items: center;
	position: relative;
}
.navbar-top {
	margin-left: auto;
	margin-right: 125px;
}
.apart-nav {
	list-style: none;
	padding: 0;
	display: flex;
}
.apart-nav a {
	color: #fff;
	opacity: .8;
	font-size: 24px;
	line-height: 30px;
	text-decoration: none;
	text-transform: uppercase;
	padding: 0 40px;
	transition: .2s;
}
.apart-nav a span {
	position: relative;
}
.apart-nav a span:before {
	content: '';
	position: absolute;
	left: 0;
	bottom: -3px;
	display: block;
	width: 50%;
	height: 2px;
	background-color: #fff;
	transition: .2s;
	opacity: 0;
}
.apart-nav a:hover,
.apart-nav a:hover span:before,
.apart-nav a.active,
.apart-nav a.active span:before {
	opacity: 1;
}
.lang {
	list-style: none;
	padding: 0;
	position: relative;
	user-select: none;
	text-transform: uppercase;
}
.current-lang {
	color: #fff;
	font-size: 24px;
	line-height: 30px;
	position: relative;
	z-index: 1;
	cursor: pointer;
}
.current-lang:after {
	content: '';
	position: absolute;
	width: 100%;
	height: 1px;
	background-color: #fff;
	left: 2px;
	right: 2px;
	width: auto;
	bottom: -1px;
}
.change-lang a {
	color: #fff;
	font-size: 24px;
	line-height: 30px;
	text-decoration: none;
}
.change-lang a:hover {
	text-decoration: underline;
}
.change-lang {
	position: absolute;
	opacity: 0;
	top: 0;
	transition: .2s;
}
.change-lang.active {
	opacity: 1;
	transform: translateY(55%);
}
@media (max-width: 1400px) {
	.navbar-top {
		margin-right: 70px;
	}
	.apart-nav a {
		padding: 0 20px;
	}
}
@media (max-width: 1200px) {
	body {
		padding: 25px 25px 0;
	}
	.navbar-toggler {
		cursor: pointer;
		width: 35px;
		padding: 10px 3px;
	}
	.navbar-toggler span {
		position: relative;
		display: block;
		height: 1px;
		background-color: #fff;
	}
	.navbar-toggler span:before,
	.navbar-toggler span:after {
		position: absolute;
		content: '';
		display: block;
		left: 0;
		width: 100%;
		height: 1px;
		background-color: #fff;
	}
	.navbar-toggler span:before {
		top: -8px;
	}
	.navbar-toggler span:after {
		bottom: -8px;
	}
	.apart-nav {
		position: absolute;
		padding-top: 20px;
		left: 0;
		opacity: 0;
		z-index: -1;
		transition: .2s;
	}
	.apart-nav.visible {
		opacity: 1;
		z-index: 1;
	}
}
@media (max-width: 800px) {
	body {
		height: auto;
		min-height: 100vh;
	}
}
@media (max-width: 700px) {
	.ns-logo {
		width: 250px;
	}
	.current-lang,
	.change-lang a,
	.apart-nav a {
		font-size: 20px;
		line-height: 24px;
	}
	.apart-nav {
		position: absolute;
		padding-top: 10px;
	}
	.apart-nav a {
		padding: 0 30px 0 0;
	}
}
@media (max-width: 600px) {
	body {
		padding: 10px 15px 0;
	}
	.ns-logo {
		width: 180px;
	}
	.current-lang,
	.change-lang a,
	.apart-nav a {
		font-size: 16px;
		line-height: 20px;
	}
	.navbar-top {
	    margin-right: 25px;
	}
	.navbar-toggler span:before {
		top: -7px;
	}
	.navbar-toggler span:after {
		bottom: -7px;
	}
}
@media (max-width: 400px) {
	.apart-nav {
		display: block;
		width: 100%;
	}
	.apart-nav li {
		text-align: center;
		padding-bottom: 10px;
	}
	.apart-nav a {
		padding: 0;
	}
}

.apart-main {
	display: flex;
	justify-content: space-between;
	padding-top: 6vh;
	position: relative;
}
.apart-soc {
	display: flex;
	flex-direction: column;
	align-items: center;
}
.white-line {
	background-color: #fff;
	width: 2px;
	height: 50vh;
	margin-bottom: 2vh;
}
.apart-soc a {
	margin-top: 2vh;
}

/* content index page */
.index-content {
	width: 95%;
}
.index-content h1 {
	font-size: 80px;
	margin: 10px 0 8vh;
	color: #fff;
	font-weight: 100;
}
.index-text-slider {
	display: flex;
	align-items: center;
}
.index-text {
	font-size: 20px;
	line-height: 26px;
	font-weight: 500;
	color: #fff;
	max-width: 560px;
	flex-shrink: 0;
}
.index-slider {
	width: 1280px;
	flex-shrink: 0;
	position: relative;
	right: -4vw;
}
.index-slider .carousel-item {
	width: 300px;
	margin: 0 auto;
	padding: 10px;
	background: rgba(255, 255, 255, 0.7);
	/*backdrop-filter: blur(6px);*/
	border-radius: 15px;
	transition: .2s;
}
.index-slider .carousel-item:hover {
	background: #fff;
}
.carousel-apart-thumb {
	display: block;
	height: 220px;
	border-radius: 12px;
	overflow: hidden;
	background-size: cover;
	background-position: 50% 50%;
}
.item-d46 .carousel-apart-thumb {
	background-image: url('../img/D-46/3.jpg');
}
.item-f41 .carousel-apart-thumb {
	background-image: url('../img/F-41/3.jpg');
}
.item-f51 .carousel-apart-thumb {
	background-image: url('../img/F-51/3.jpg');
}
.item-f71 .carousel-apart-thumb {
	background-image: url('../img/F-71/3.jpg');
}
.carousel-item h2 {
	text-align: center;
	font-size: 22px;
	line-height: 27px;
	margin-bottom: 0;
}
.carousel-item-subtitle {
	text-align: center;
	font-size: 12px;
	line-height: 15px;
	margin-top: 0;
	min-height: 30px;
}
.carousel-item-info {
	font-size: 15px;
	line-height: 19px;
	min-height: 100px;
	position: relative;
}
.carousel-item-info a {
	width: 40px;
	height: 60px;
	display: block;
	position: absolute;
	right: 0;
	top: 0;
	bottom: 0;
	margin: auto;
}
.carousel-arapt-detail {
	display: block;
	text-decoration: none;
	color: #000;
	text-align: center;
	width: 225px;
	margin: 15px auto 10px;
	border: 1px solid #000;
	padding: 10px 0;
	font-size: 23px;
	line-height: 29px;
	transition: .2s;
}
.carousel-arapt-detail:hover {
	background-color: #000;
	color: #fff;
}
.index-slider .owl-dots.disabled,
.index-slider .owl-nav.disabled {
    display: block !important;
}
.index-slider .owl-nav {
	padding-top: 25px;
	position: fixed;
	right: 25px;
}
.index-slider .owl-nav button {
	margin: 0 5px;
	outline: none !important;
}
.index-slider .owl-dots {
	margin-right: 40px;
 	padding: 25px 40px 0;
	position: fixed;
	right: 100px;
}
.index-slider .owl-dots:before {
	content: '01';
	color: #fff;
	position: absolute;
	left: 10px;
	bottom: -5px;
}
.index-slider .owl-dots:after {
	content: '04';
	color: #fff;
	position: absolute;
	right: 5px;
	bottom: -5px;
}
.index-slider .owl-dot {
	width: 65px;
	height: 4px;
	background: #fff !important;
	opacity: .7;
	outline: none !important;
}
.index-slider .owl-dot.active {
	opacity: 1;
}
@media (max-width: 1450px) {
	.index-content h1 {
		font-size: 5vw;
	}
}
@media (max-width: 1200px) {
	.index-content {
		width: 100%;
		padding: 0 20px;
	}
	.index-content h1 {
		margin-bottom: 40px;
	}
	.index-text {
		max-width: 100%;
		padding-bottom: 40px;
	}
	.index-text-slider {
		flex-wrap: wrap;
	}
	.index-slider {
		right: 10px;
	}
	.index-slider .owl-nav,
	.index-slider .owl-dots {
		position: relative;
		left: 0;
		right: 0;
		float: left;
		margin-left: 15vw;
	}
}
@media (max-width: 1000px) {
	.index-content {
		padding: 0;
	}
}
@media (max-width: 800px) {
	.index-content h1 {
		font-size: 40px;
	}
	.index-slider .owl-nav,
	.index-slider .owl-dots {
		margin-left: 10vw;
	}
}
@media (max-width: 600px) {
	.index-content {
		padding: 0 20px;
	}
	.index-content h1 {
		margin-bottom: 25px;
	}
	.index-text {
		font-size: 18px;
		line-height: 24px;
		padding-bottom: 30px;
	}
	.index-slider .owl-nav,
	.index-slider .owl-dots {
		margin-left: 5vw;
	}
}
@media (max-width: 500px) {
	.index-slider .owl-nav,
	.index-slider .owl-dots {
		margin-left: 3vw;
	}
	.index-slider .owl-dots {
		max-width: 265px;
	}
	.index-slider .owl-dot {
		width: 45px;
	}
}
@media (max-width: 400px) {
	.index-text {
		font-size: 16px;
		line-height: 20px;
	}
	.index-content h1 {
		font-size: 36px;
	}
	.index-slider .owl-dots {
		max-width: 240px;
	}
	.index-slider .owl-dot {
		width: 30px;
	}
}


/* content apart's page */
.apart-content {
	background: rgba(255, 255, 255, 0.6);
	backdrop-filter: blur(10px);
	border-radius: 20px;
	padding: 25px;
	width: 95%;
	display: flex;
}
.apart-slider-wrap {
	width: 66vh;
	flex-shrink: 0;
}
.slick-slide:focus {
    outline: none;
}
.apart-slider-for {
	border-radius: 15px;
	overflow: hidden;
}
.apart-slider-nav {
	margin: 20px -1vh 0;
}
.apart-slider-for [class^="apart-slide"] {
	height: 57vh;
	background-size: cover;
	background-position: 50% 50%;
}
.apart-slider-nav [class^="apart-slide"] {
	width: 11.5vh;
	height: 11.5vh;
	background-size: cover;
	background-position: 50% 50%;
	margin: 0 auto;
	cursor: pointer;
	border-radius: 8px;
}
.apart-content-d46 .apart-slide-1 {
	background-image: url('../img/D-46/1.jpg');
}
.apart-content-d46 .apart-slide-2 {
	background-image: url('../img/D-46/2.jpg');
}
.apart-content-d46 .apart-slide-3 {
	background-image: url('../img/D-46/3.jpg');
}
.apart-content-d46 .apart-slide-4 {
	background-image: url('../img/D-46/4.jpg');
}
.apart-content-d46 .apart-slide-5 {
	background-image: url('../img/D-46/5.jpg');
}
.apart-content-f41 .apart-slide-1 {
	background-image: url('../img/F-41/1.jpg');
}
.apart-content-f41 .apart-slide-2 {
	background-image: url('../img/F-41/2.jpg');
}
.apart-content-f41 .apart-slide-3 {
	background-image: url('../img/F-41/3.jpg');
}
.apart-content-f41 .apart-slide-4 {
	background-image: url('../img/F-41/4.jpg');
}
.apart-content-f41 .apart-slide-5 {
	background-image: url('../img/F-41/5.jpg');
}
.apart-content-f51 .apart-slide-1 {
	background-image: url('../img/F-51/1.jpg');
}
.apart-content-f51 .apart-slide-2 {
	background-image: url('../img/F-51/2.jpg');
}
.apart-content-f51 .apart-slide-3 {
	background-image: url('../img/F-51/3.jpg');
}
.apart-content-f51 .apart-slide-4 {
	background-image: url('../img/F-51/4.jpg');
}
.apart-content-f51 .apart-slide-5 {
	background-image: url('../img/F-51/5.jpg');
}
.apart-content-f71 .apart-slide-1 {
	background-image: url('../img/F-71/1.jpg');
}
.apart-content-f71 .apart-slide-2 {
	background-image: url('../img/F-71/2.jpg');
}
.apart-content-f71 .apart-slide-3 {
	background-image: url('../img/F-71/3.jpg');
}
.apart-content-f71 .apart-slide-4 {
	background-image: url('../img/F-71/4.jpg');
}
.apart-content-f71 .apart-slide-5 {
	background-image: url('../img/F-71/5.jpg');
}
.apart-slider-nav .slick-slide:not(.slick-current) {
	opacity: .4;
}
.apart-info {
	padding-left: 30px;
	width: 100%;
}
.apart-info-head {
	display: flex;
	justify-content: space-between;
	padding-bottom: 15px;
}
.apart-title h1 {
	margin: 0;
	font-size: 40px;
	line-height: 50px;
}
.apart-title h2 {
	margin: 0;
	font-size: 24px;
	line-height: 30px;
}
.apart-booking button {
	display: block;
	max-width: 280px;
	font-size: 25px;
	line-height: 40px;
	background: none;
	outline: none;
	border: 1px solid #000;
	cursor: pointer;
	padding: 5px 20px;
	transition: .2s;
}
.apart-booking button:hover {
	background-color: #000;
	color: #fff;
}
.apart-text {
	width: 100%;
	overflow: auto;
	scrollbar-width: thin;
	scrollbar-color: #000 #747474;
	height: 50vh;
}
.apart-text::-webkit-scrollbar {
	height: 6px;
	width: 6px;
}
.apart-text::-webkit-scrollbar-track {
	background: #747474;
	border-radius: 15px;
}
.apart-text::-webkit-scrollbar-thumb {
	background-color: #000;
	border-radius: 15px;
}
.apart-plan-map {
	display: flex;
	position: relative;
}
.apart-plan-map a {
	display: flex;
	align-items: center;
	color: #000;
	text-decoration: none;
	font-size: 21px;
	line-height: 26px;
	margin-right: 60px;
}
.apart-plan-map a img {
	margin-right: 10px;
}
.apart-modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    z-index: -1;
    background-color: rgba(0,0,0,.7);
}
.apart-modal.visible {
	opacity: 1;
    z-index: 1;
}
.apart-plan {
	position: relative;
}
.apart-close {
    position: absolute;
    top: 20px;
    right: 20px;
    z-index: 1;
    cursor: pointer;
}
.apart-plan-pic {
    max-width: 90vw;
    max-height: 90vh;
}
.apart-map {
	width: 100%;
	max-width: 1200px;
    height: 70vh;
    position: relative;
}
.apart-map iframe {
	display: block;
	height: 70vh;
	border: none;
	width: 100%;
	max-width: 1200px;
}
.apart-common {
	display: flex;
}
.apart-common-info {
	width: 50%;
	padding-right: 10px;
}
.apart-common-info h3 {
	font-size: 18px;
	line-height: 22px;
	text-transform: uppercase;
}
.apart-common-info li {
	font-size: 16px;
	line-height: 20px;
}
.apart-furniture {
	display: flex;
	flex-wrap: wrap;
}
.apart-furniture h3 {
	font-size: 18px;
	line-height: 22px;
	text-transform: uppercase;
	width: 100%;
}
.apart-furniture h4 {
	display: flex;
	align-items: center;
	margin: 0;
}
.apart-furniture h4 img {
	margin-right: 10px;
}
.apart-furniture p {
	margin: 5px 0 0;
}
.apart-furniture-bedroom {
	width: 47%;
	padding: 0 30px 30px 0;
}
.apart-furniture-livingroom {
	padding-right: 0 10px 30px 0;
}
.apart-furniture-kitchen {
	width: 60%;
}
.apart-kitchen-text {
	column-count: 2;
	padding-right: 10px;
}
.apart-furniture-penthouse {
	width: 100%;
	padding-top: 30px;
}
.apart-more {
	position: relative;
	float: right;
	padding: 30px 30px 0 0;
}
.current-apart {
	cursor: pointer;
	font-size: 21px;
	line-height: 26px;
}
.current-apart img {
	position: relative;
	top: 8px;
	left: 3px;
}
.another-aparts {
	position: absolute;
	top: 0;
	opacity: 0;
	z-index: -1;
	background: rgba(255, 255, 255, 0.56);
	padding: 5px 10px;
	width: 100%;
}
.another-aparts a {
	font-size: 21px;
	line-height: 26px;
	text-decoration: none;
	color: #000;
}
.another-aparts a:hover {
	text-decoration: underline;
	font-weight: bold;
}
.another-aparts.active {
	opacity: 1;
	z-index: 1;
	transform: translateY(70%);
}
@media (max-width: 1600px) {
	.apart-info-head {
		flex-wrap: wrap;
	}
	.apart-plan-map a {
		margin-right: 30px;
	}
	.apart-booking,
	.apart-furniture-kitchen {
		width: 100%;
	}
	.apart-booking button {
		margin: 10px auto 0;
	}
	.apart-furniture-bedroom,
	.apart-furniture-livingroom {
		width: 50%;
	}
}
@media (max-width: 1500px) {
	.apart-plan-map,
	.apart-common {
		flex-wrap: wrap;
	}
	.apart-plan-map a {
		width: 100%;
	}
	.apart-360 {
		position: absolute;
		right: 0;
		top: 0;
	}
	.apart-plan-map a {
		margin: 5px 20px 5px 0;
	}
}
@media (max-width: 1400px) {
	.apart-title h1 {
		font-size: 34px;
		line-height: 42px;
	}
	.apart-title h2 {
		font-size: 18px;
		line-height: 24px;
	}
	.apart-common-info,
	.apart-furniture-bedroom,
	.apart-furniture-livingroom {
		width: 100%;
		padding: 0 10px 20px 0;
	}
	.apart-kitchen-text {
		column-count: 1;
	}
	.apart-furniture-penthouse {
		padding-top: 20px;
	}
}
@media (max-width: 1300px) {
	.white-line {
		height: 400px;
	}
	.apart-slider-wrap {
		width: 540px;
	}
	.apart-slider-for [class^="apart-slide"] {
		height: 500px;
	}
	.apart-slider-nav {
		margin: 10px -5px 0;
	}
	.apart-slider-nav [class^="apart-slide"] {
		width: 100px;
		height: 100px;
	}
	.apart-text {
		height: 400px;
	}
}
@media (max-width: 1200px) {
	.apart-main {
		padding-top: 30px;
		transition: .2s;
	}
	.apart-main.offset {
		transform: translateY(50px);
	}
	.apart-title h1 {
		font-size: 28px;
		line-height: 36px;
	}
	.apart-title h2 {
		font-size: 16px;
		line-height: 22px;
	}
	.apart-info {
		padding-left: 20px;
	}
	.current-apart,
	.another-aparts a,
	.apart-plan-map a {
		font-size: 16px;
		line-height: 22px;
	}
	.another-aparts.active {
		transform: translateY(80%);
	}
	.apart-more {
		padding-right: 0;
	}
}
@media (max-width: 1000px) {
	.apart-main {
		flex-wrap: wrap;
	}
	.apart-content {
		width: 100%;
		order: 1;
		padding: 15px;
	}
	.apart-soc {
		width: 100%;
		flex-direction: row;
		justify-content: center;
		order: 2;
	}
	.apart-soc a {
		margin: 20px 15px;
	}
	.white-line {
		display: none;
	}
	.apart-slider-wrap {
		width: 400px;
	}
	.apart-slider-for [class^="apart-slide"] {
		height: 450px;
	}
	.apart-slider-nav [class^="apart-slide"] {
		width: 70px;
		height: 70px;
	}
}
@media (max-width: 800px) {
	.apart-content {
		flex-wrap: wrap;
	}
	.apart-info {
		order: 1;
		padding-left: 0;
	}
	.apart-slider-wrap {
		width: 100%;
		order: 2;
		padding-top: 50px;
	}
	.apart-slider-for [class^="apart-slide"] {
		height: auto;
		padding-top: 70vw;
	}
	.apart-slider-nav [class^="apart-slide"] {
		width: 16vw;
		height: 16vw;
	}
	.apart-slider-nav {
		margin: 10px -1vw 0;
	}
}
@media (max-width: 700px) {
	.apart-main.offset {
		transform: translateY(30px);
	}
}
@media (max-width: 600px) {
	.apart-main {
		padding-top: 10px;
		margin: 0 -15px;
	}
	.apart-main.offset {
		transform: translateY(50px);
	}
	.apart-slider-nav [class^="apart-slide"] {
		width: 21vw;
		height: 21vw;
	}
	.apart-info-head {
		justify-content: center;
	}
	.apart-title h1,
	.apart-title h2 {
		text-align: center;
	}
}
@media (max-width: 400px) {
	.apart-slider-nav [class^="apart-slide"] {
		width: 19vw;
		height: 19vw;
	}
	.apart-main.offset {
		transform: translateY(100px);
	}
}

/* about */
.apart-content-about {
	display: block;
}
.apart-content-about h1 {
	text-align: center;
	font-size: 40px;
	line-height: 44px;
}
.apart-about-text {
	overflow: auto;
	scrollbar-width: thin;
	scrollbar-color: #000 #747474;
	height: 38vh;
	padding-right: 20px;
}
.apart-about-text::-webkit-scrollbar,
.apart-about-links::-webkit-scrollbar {
	height: 6px;
	width: 6px;
}
.apart-about-text::-webkit-scrollbar-track,
.apart-about-links::-webkit-scrollbar-track {
	background: #747474;
	border-radius: 15px;
}
.apart-about-text::-webkit-scrollbar-thumb,
.apart-about-links::-webkit-scrollbar-thumb {
	background-color: #000;
	border-radius: 15px;
}
.apart-about-text p {
	font-size: 18px;
	line-height: 24px;
}
.apart-about-links {
	display: flex;
	padding: 50px 0 15px;
	overflow: auto;
	scrollbar-width: thin;
	scrollbar-color: #000 #747474;
}
.apart-about-link {
	width: 380px;
	flex-shrink: 0;
	display: flex;
}
.apart-about-link:not(:last-of-type) {
	margin-right: 45px;
}
.apart-about-link-pic {
	display: block;
	width: 122px;
	height: 125px;
	border-radius: 12px;
	overflow: hidden;
	background-size: cover;
	background-position: 50% 50%;
	flex-shrink: 0;
}
.apart-about-link-pic:hover {
	opacity: .8;
}
.apart-about-link-pic.link-pic-d46 {
	background-image: url('../img/D-46/3.jpg');
}
.apart-about-link-pic.link-pic-f41 {
	background-image: url('../img/F-41/3.jpg');
}
.apart-about-link-pic.link-pic-f51 {
	background-image: url('../img/F-51/3.jpg');
}
.apart-about-link-pic.link-pic-f71 {
	background-image: url('../img/F-71/3.jpg');
}
.apart-about-link-text {
	padding-left: 15px;
}
.apart-about-link-text h3 {
	font-size: 21px;
	line-height: 27px;
	font-weight: 100;
	margin: 0 0 15px;
}
.apart-about-link-text p {
	margin: 5px 0;
	font-size: 15px;
	line-height: 19px;
}
.apart-about-detail {
	display: block;
	font-size: 16px;
	line-height: 20px;
	color: #444;
	margin-top: 20px;
}
.apart-about-detail:hover {
	text-decoration: none;
}
@media (max-width: 1200px) {
	.apart-about-links {
		flex-wrap: wrap;
		justify-content: center;
		margin: 0 -15px;
		padding: 20px 0 0;
	}
	.apart-about-link {
		margin: 15px !important;
	}
}
@media (max-width: 1000px) {
	.apart-about-link {
		margin: 15px 10px !important;
	}
}
@media (max-width: 500px) {
	.apart-about-links {
		display: block;
		margin: 0;
	}
	.apart-about-link {
		margin: 25px auto !important;
		width: 100%;
		max-width: 370px;
	}
	.apart-about-link-pic {
		width: 105px;
		height: 110px;
	}
	.apart-about-link-text {
		padding-left: 10px;
	}
	.apart-about-link-text h3 {
		font-size: 18px;
		line-height: 24px;
		margin: 0 0 10px;
	}
	.apart-about-detail {
		margin-top: 12px;
	}
}
@media (max-width: 380px) {
	.apart-about-link-pic {
		height: 105px;
	}
	.apart-about-link-text h3 {
		font-size: 15px;
		line-height: 22px;
		margin: 0 0 10px;
	}
	.apart-about-link-text p {
		margin: 5px 0;
		font-size: 13px;
		line-height: 17px;
	}
	.apart-about-detail {
		margin-top: 12px;
	}
}

/* contacts */
.apart-content-contacts {
	padding-left: 50px;
	display: block;
	height: 580px;
}
.apart-content-contacts h1 {;
	font-size: 32px;
	line-height: 40px;
	font-weight: 100;
}
.apart-contacts-wrap {
	display: flex;
	justify-content: space-between;
}
.phone-mail {
	width: 370px;
	flex-shrink: 0;
}
.phone-mail a {
	display: flex;
	color: #000;
	text-decoration: none;
	font-size: 24px;
	line-height: 32px;
	padding: 15px 0;
}
.phone-mail img {
	margin-right: 20px;
}
.address {
	width: 515px;
	flex-shrink: 0;
}
.address-text {
	display: flex;
	padding-bottom: 15px;
}
.address-text p {
	font-size: 24px;
	line-height: 32px;
	margin: 0;
}
.address-text img {
	align-self: flex-start;
	margin-right: 15px;
	width: 35px;
	height: 35px;
}
.address iframe {
	border: none;
	display: block;
	width: 100%;
	height: 350px;
	border-radius: 10px;
	overflow: hidden;
}
@media (max-width: 1100px) {
	.apart-content-contacts {
		height: auto;
		padding-left: 25px;
	}
	.apart-contacts-wrap {
		flex-wrap: wrap;
	}
	.phone-mail,
	.address {
		width: 100%;
	}
	.phone-mail a {
		padding: 10px 0;
	}
	.phone-mail img {
		margin-right: 15px;
	}
	.address-text {
		padding-top: 20px;
	}
}
@media (max-width: 1000px) {
	.apart-content-contacts {
		padding-left: 15px;
	}
}
@media (max-width: 500px) {
	.phone-mail a,
	.address-text p {
		font-size: 18px;
		line-height: 24px;
	}
	.phone-mail img {
		width: 25px;
		height: 25px;
	}
	.address-text img {
		width: 28px;
		height: 28px;
	}
}