@font-face {
	font-family: Geometria;
	src: url(../fonts/Geometria.ttf);
}
* {
	box-sizing: border-box;
}
html, body {
	overflow-x: hidden;
}
body {
	font-family: Geometria, sans-serif;
	min-height: 100vh;
	padding: 50px 50px 0;
	background-size: cover;
	background-position: 50% 50%;
}
body.apart-f41 {
	background-image: url('../img/F-41/f41-fon.jpg');
}
header {
	display: flex;
	align-items: center;
	position: relative;
}
.navbar-top {
	margin-left: auto;
	margin-right: 125px;
}
.apart-nav {
	list-style: none;
	padding: 0;
	display: flex;
}
.apart-nav a {
	color: #fff;
	font-size: 24px;
	line-height: 30px;
	text-decoration: none;
	text-transform: uppercase;
	padding: 0 40px;
}
.lang {
	list-style: none;
	padding: 0;
	position: relative;
	user-select: none;
	text-transform: uppercase;
}
.current-lang {
	color: #fff;
	font-size: 24px;
	line-height: 30px;
	position: relative;
	z-index: 1;
	cursor: pointer;
}
.current-lang:after {
	content: '';
	position: absolute;
	width: 100%;
	height: 1px;
	background-color: #fff;
	left: 2px;
	right: 2px;
	width: auto;
	bottom: -1px;
}
.change-lang a {
	color: #fff;
	font-size: 24px;
	line-height: 30px;
	text-decoration: none;
}
.change-lang a:hover {
	text-decoration: underline;
}
.change-lang {
	position: absolute;
	opacity: 0;
	top: 0;
	transition: .2s;
}
.change-lang.active {
	opacity: 1;
	transform: translateY(55%);
}
@media (max-width: 1400px) {
	.navbar-top {
		margin-right: 70px;
	}
	.apart-nav a {
		padding: 0 20px;
	}
}
@media (max-width: 1200px) {
	body {
		padding: 25px 25px 0;
	}
	.navbar-toggler {
		cursor: pointer;
		width: 35px;
		padding: 10px 3px;
	}
	.navbar-toggler span {
		position: relative;
		display: block;
		height: 1px;
		background-color: #fff;
	}
	.navbar-toggler span:before,
	.navbar-toggler span:after {
		position: absolute;
		content: '';
		display: block;
		left: 0;
		width: 100%;
		height: 1px;
		background-color: #fff;
	}
	.navbar-toggler span:before {
		top: -8px;
	}
	.navbar-toggler span:after {
		bottom: -8px;
	}
	.apart-nav {
		position: absolute;
		padding-top: 20px;
		left: 0;
		opacity: 0;
		z-index: -1px;
		transition: .2s;
	}
	.apart-nav.visible {
		opacity: 1;
	}
}
@media (max-width: 700px) {
	.ns-logo {
		width: 250px;
	}
	.current-lang,
	.change-lang a,
	.apart-nav a {
		font-size: 20px;
		line-height: 24px;
	}
	.apart-nav {
		position: absolute;
		padding-top: 10px;
	}
	.apart-nav a {
		padding: 0 30px 0 0;
	}
}
@media (max-width: 600px) {
	body {
		padding: 0 15px;
	}
	.ns-logo {
		width: 180px;
	}
	.current-lang,
	.change-lang a,
	.apart-nav a {
		font-size: 16px;
		line-height: 20px;
	}
	.navbar-top {
	    margin-right: 25px;
	}
	.navbar-toggler span:before {
		top: -7px;
	}
	.navbar-toggler span:after {
		bottom: -7px;
	}
}
@media (max-width: 400px) {
	.apart-nav {
		display: block;
		width: 100%;
	}
	.apart-nav li {
		text-align: center;
		padding-bottom: 10px;
	}
	.apart-nav a {
		padding: 0;
	}
}

.apart-main {
	display: flex;
	justify-content: space-between;
	padding-top: 6vh;
}
.apart-soc {
	display: flex;
	flex-direction: column;
	align-items: center;
}
.white-line {
	background-color: #fff;
	width: 2px;
	height: 50vh;
	margin-bottom: 2vh;
}
.apart-soc a {
	margin-top: 2vh;
}
.apart-content {
	background: rgba(255, 255, 255, 0.6);
	backdrop-filter: blur(10px);
	border-radius: 20px;
	padding: 25px;
	width: 95%;
	display: flex;
}
.apart-slider-wrap {
	width: 66vh;
	flex-shrink: 0;
}
.slick-slide:focus {
    outline: none;
}
.apart-slider-for {
	border-radius: 15px;
	overflow: hidden;
}
.apart-slider-nav {
	margin: 20px -1vh 0;
}
.apart-slider-for [class^="apart-slide"] {
	height: 57vh;
	background-size: cover;
	background-position: 50% 50%;
}
.apart-slider-nav [class^="apart-slide"] {
	width: 11.5vh;
	height: 11.5vh;
	background-size: cover;
	background-position: 50% 50%;
	margin: 0 auto;
	cursor: pointer;
	border-radius: 8px;
}
.apart-slide-1 {
	background-image: url('../img/F-41/1.jpg');
}
.apart-slide-2 {
	background-image: url('../img/F-41/2.jpg');
}
.apart-slide-3 {
	background-image: url('../img/F-41/3.jpg');
}
.apart-slide-4 {
	background-image: url('../img/F-41/4.jpg');
}
.apart-slide-5 {
	background-image: url('../img/F-41/5.jpg');
}
.apart-slider-nav .slick-slide:not(.slick-current) {
	opacity: .4;
}
.apart-info {
	padding-left: 30px;
	width: 100%;
}
.apart-info-head {
	display: flex;
	justify-content: space-between;
	padding-bottom: 15px;
}
.apart-title h1 {
	margin: 0;
	font-size: 40px;
	line-height: 50px;
}
.apart-title h2 {
	margin: 0;
	font-size: 24px;
	line-height: 30px;
}
.apart-booking button {
	display: block;
	max-width: 280px;
	font-size: 25px;
	line-height: 40px;
	background: none;
	outline: none;
	border: 1px solid #000;
	cursor: pointer;
	padding: 5px 20px;
	transition: .2s;
}
.apart-booking button:hover {
	background-color: #000;
	color: #fff;
}
.apart-text {
	width: 100%;
	overflow: auto;
	scrollbar-width: thin;
	scrollbar-color: #000 #747474;
	height: 50vh;
}
.apart-text::-webkit-scrollbar {
	height: 6px;
	width: 6px;
}
.apart-text::-webkit-scrollbar-track {
	background: #747474;
	border-radius: 15px;
}
.apart-text::-webkit-scrollbar-thumb {
	background-color: #000;
	border-radius: 15px;
}
.apart-plan-map {
	display: flex;
	position: relative;
}
.apart-plan-map a {
	display: flex;
	align-items: center;
	color: #000;
	text-decoration: none;
	font-size: 21px;
	line-height: 26px;
	margin-right: 60px;
}
.apart-plan-map a img {
	margin-right: 10px;
}
.apart-modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    z-index: -1;
    background-color: rgba(0,0,0,.7);
}
.apart-modal.visible {
	opacity: 1;
    z-index: 1;
}
.apart-plan {
	position: relative;
}
.apart-close {
    position: absolute;
    top: 20px;
    right: 20px;
    z-index: 1;
    cursor: pointer;
}
.apart-plan-pic {
    max-width: 90vw;
    max-height: 90vh;
}
.apart-map {
	width: 100%;
	max-width: 1200px;
    height: 70vh;
    position: relative;
}
.apart-map iframe {
	display: block;
	height: 70vh;
	border: none;
	width: 100%;
	max-width: 1200px;
}
.apart-common {
	display: flex;
}
.apart-common-info {
	width: 50%;
	padding-right: 10px;
}
.apart-common-info h3 {
	font-size: 18px;
	line-height: 22px;
	text-transform: uppercase;
}
.apart-common-info li {
	font-size: 16px;
	line-height: 20px;
}
.apart-furniture {
	display: flex;
	flex-wrap: wrap;
}
.apart-furniture h3 {
	font-size: 18px;
	line-height: 22px;
	text-transform: uppercase;
	width: 100%;
}
.apart-furniture h4 {
	display: flex;
	align-items: center;
	margin: 0;
}
.apart-furniture h4 img {
	margin-right: 10px;
}
.apart-furniture p {
	margin: 5px 0 0;
}
.apart-furniture-bedroom {
	width: 47%;
	padding: 0 30px 30px 0;
}
.apart-furniture-livingroom {
	padding-right: 0 10px 30px 0;
}
.apart-furniture-kitchen {
	width: 60%;
}
.apart-kitchen-text {
	column-count: 2;
	padding-right: 10px;
}
.apart-more {
	position: relative;
	float: right;
	padding: 30px 30px 0 0;
}
.current-apart {
	cursor: pointer;
	font-size: 21px;
	line-height: 26px;
}
.current-apart img {
	position: relative;
	top: 8px;
	left: 3px;
}
.another-aparts {
	position: absolute;
	top: 0;
	opacity: 0;
	z-index: -1;
	background: rgba(255, 255, 255, 0.56);
	padding: 5px 10px;
	width: 100%;
}
.another-aparts a {
	font-size: 21px;
	line-height: 26px;
	text-decoration: none;
	color: #000;
}
.another-aparts a:hover {
	text-decoration: underline;
	font-weight: bold;
}
.another-aparts.active {
	opacity: 1;
	z-index: 1;
	transform: translateY(70%);
}
@media (max-width: 1600px) {
	.apart-info-head {
		flex-wrap: wrap;
	}
	.apart-plan-map a {
		margin-right: 30px;
	}
	.apart-booking,
	.apart-furniture-kitchen {
		width: 100%;
	}
	.apart-booking button {
		margin: 10px auto 0;
	}
	.apart-furniture-bedroom,
	.apart-furniture-livingroom {
		width: 50%;
	}
}
@media (max-width: 1500px) {
	.apart-plan-map,
	.apart-common {
		flex-wrap: wrap;
	}
	.apart-plan-map a {
		width: 100%;
	}
	.apart-360 {
		position: absolute;
		right: 0;
		top: 0;
	}
	.apart-plan-map a {
		margin: 5px 20px 5px 0;
	}
}
@media (max-width: 1400px) {
	.apart-title h1 {
		font-size: 34px;
		line-height: 42px;
	}
	.apart-title h2 {
		font-size: 18px;
		line-height: 24px;
	}
}
@media (max-width: 1400px) {
	.apart-common-info,
	.apart-furniture-bedroom,
	.apart-furniture-livingroom {
		width: 100%;
		padding: 0 10px 15px 0;
	}
	.apart-kitchen-text {
		column-count: 1;
	}
}
@media (max-width: 1300px) {
	.white-line {
		height: 400px;
	}
	.apart-slider-wrap {
		width: 540px;
	}
	.apart-slider-for [class^="apart-slide"] {
		height: 500px;
	}
	.apart-slider-nav {
		margin: 10px -5px 0;
	}
	.apart-slider-nav [class^="apart-slide"] {
		width: 100px;
		height: 100px;
	}
	.apart-text {
		height: 400px;
	}
}
@media (max-width: 1200px) {
	.apart-title h1 {
		font-size: 28px;
		line-height: 36px;
	}
	.apart-title h2 {
		font-size: 16px;
		line-height: 22px;
	}
	.apart-info {
		padding-left: 20px;
	}
	.current-apart,
	.another-aparts a,
	.apart-plan-map a {
		font-size: 16px;
		line-height: 22px;
	}
	.another-aparts.active {
		transform: translateY(80%);
	}
	.apart-more {
		padding-right: 0;
	}
}
@media (max-width: 1000px) {
	.apart-main {
		flex-wrap: wrap;
		padding-top: 60px;
	}
	.apart-content {
		width: 100%;
		order: 1;
		padding: 15px;
	}
	.apart-soc {
		width: 100%;
		flex-direction: row;
		justify-content: center;
		order: 2;
	}
	.apart-soc a {
		margin: 20px 15px;
	}
	.white-line {
		display: none;
	}
	.apart-slider-wrap {
		width: 400px;
	}
	.apart-slider-for [class^="apart-slide"] {
		height: 450px;
	}
	.apart-slider-nav [class^="apart-slide"] {
		width: 70px;
		height: 70px;
	}
}
@media (max-width: 800px) {
	.apart-content {
		flex-wrap: wrap;
	}
	.apart-info {
		order: 1;
		padding-left: 0;
	}
	.apart-slider-wrap {
		width: 100%;
		order: 2;
		padding-top: 50px;
	}
	.apart-slider-for [class^="apart-slide"] {
		height: auto;
		padding-top: 70vw;
	}
	.apart-slider-nav [class^="apart-slide"] {
		width: 16vw;
		height: 16vw;
	}
	.apart-slider-nav {
		margin: 10px -1vw 0;
	}
}
@media (max-width: 600px) {
	.apart-main {
		padding-top: 50px;
		margin: 0 -15px;
	}
	.apart-slider-nav [class^="apart-slide"] {
		width: 21vw;
		height: 21vw;
	}
}
@media (max-width: 400px) {
	.apart-slider-nav [class^="apart-slide"] {
		width: 19vw;
		height: 19vw;
	}
}